.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  background-color: #f4f4f4;
  z-index: 1;

}
